body{
    margin: 0;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
   
}

header{
    height: 101px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    position: relative;
}

.header-container{
    width: 1440px;
    margin:auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 51px;
    width:51px;
}
.logo img{
    height: 100%;
}

.left-nav{
    display: flex;
    height: 100%;
    align-items: center;
     
}
.left-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.left-nav li{
    text-transform: uppercase;
    padding-left: 24px;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 550;
    cursor: pointer;
}
.left-nav li:hover{
    /*color:#ee2761;*/
    color: #008248;

}
.right-nav{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.find-store{
    margin-right: 40px;
    display: flex;
    align-items: center;
}
.find-store i{
    font-size: 22px;
    padding-right:8px;
}
.find-store:hover{
    color:#008248;
}
.sign-in,.join-now{
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
}
.sign-in{
    margin-right: 16px;
}
.sign-in:hover{
    background-color: rgba(0,0,0,.06);
    transition: all .2s ease;
}

.join-now{
    background-color: black;
    color: white;
    transition: all .2s ease;
}
.join-now:hover{
    background-color: rgba(0,0,0,.7);
    border-color: rgba(0,0,0,.7);
    
}




